.block__brick {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
}

.block_active .block__brick {
  background-color: orangered;
}

.block_active .block__brick:not(:last-child) {
  border-bottom: 2px solid #555;
}